.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

body p {
    line-height: 1.3;
}

.main-content {
    width: 636px;
    margin: 130px auto 0 auto;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    overflow: hidden;
}

.first {
    background-color: white;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 0;
    float: left;
}

h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
}

h3 {
    font-weight: 700;
    margin-top: 0;
}

.first h3 {
    margin-bottom: 20px;
    color: hsl(71, 73%, 54%);
}

.first p {
    color: hsl(218, 22%, 67%);
    font-weight: 400;
}

.col-container {
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
}

.middle {
    background-color: hsl(179, 62%, 43%);
    padding: 40px;
    box-sizing: border-box;
    color: hsl(204, 43%, 93%);
}

.price {
    display: table;  
}

.price p {
    display: table-cell;
    vertical-align: middle;
    padding-left: 13px;
}

.price span {
    font-size: 30px;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
}


button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 236px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2);
}

button:active {
    box-shadow: 0 3px rgb(179, 176, 176);
    transform: translateY(4px);
}

button:focus {
    outline: none;
}

.last {
    background-color: rgba(80, 188, 190);
    padding: 40px;
    box-sizing: border-box;
    color: hsl(204, 43%, 93%);
}

@media only screen and (max-width: 375px) {
    body {
        font-size: 15px;
    }

    .main-content {
        width: 310px;
        margin: 70px auto 0 auto;
    }

    .col {
        display: block;
        width: 100%;
    }
}